appnope==0.1.0
asciinema==0.9.8
crypto==1.1.1
decorator==4.0.4
Django==1.6.5
gnureadline==6.3.3
ipython-genutils==0.1.0
Markdown==2.4.1
mercurial==3.1
MySQL-python==1.2.5
Naked==0.1.30
nltk==3.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pycrypto==2.6.1
python-osc==1.4.1
PyYAML==3.11
requests==1.2.3
scapy==2.3.1
simplegeneric==0.8.1
traitlets==4.0.0
vboxapi==1.0
virtualenv==1.11.6
web.py==0.37
