
<p style="font-size: 12pt; font-weight: normal; font-style: italic; margin: 15px 0 0 0;">Hallo und Guten Tag *|SUBSCRIBER_NAME|*!</p>
<p><a href="*|READ_ONLINE_LINK|*" style="font-size: 9pt; color: #777777;">Klicken Sie hier, um den Newsletter online zu lesen.</a></p>

<div style="border-top: 1px solid #777777; border-bottom: 1px solid #777777; background-color: #dddddd; color: #222222; line-height: 1.6; white-space: pre-wrap;">
{{ draft.mail_plain_abstract }}
</div>

<p style="white-space: pre-wrap;">{{ draft.mail_plain_body }}</p>

<pre style="color: #444444; font-size: 9pt; white-space: pre-wrap;">
--
{{ newsletter.plain_footer }}
</pre>

